body {
    background-color: #000;
}

.divider {
    background-color: #eee;
}

#intro-example {
    height: 500px;
  }

  /* Height for devices larger than 992px */
  @media (min-width: 1200px) {
    #intro-example {
      height: 700px;
    }
  }

.title-font {
  font-family: 'Rubik Microbe', cursive;
}

.course-text {
  font-family: 'Montserrat';
  font-size: small;
}

.ripple {
  cursor: pointer;
}

.link-text {
  color: black;
}

.link-text:hover {
  color: black;
}

.link-text-white {
  color: white;
}

.link-text-white:hover {
  color: white;
}

.card-text {
  font-family: 'Merriweather';
  font-size: smaller;
}

.same-height {
  height: 500px;
}

@media (max-width: 450px) {
  .same-height {
    height: 300px;
  }
}

.scroll-section {
  max-height: 100px;
  overflow-y: auto;
}

.same-size {
  object-fit: cover;
  height: 250px;
}