body {
    background-color: #000;
    padding-top: 58px;
}

.divider {
    background-color: #eee;
}

#intro-example {
    height: 400px;
  }

  /* Height for devices larger than 992px */
  @media (min-width: 992px) {
    #intro-example {
      height: 600px;
    }
  }

  .top {
    padding-top: 60px;
  }